.equipment-table {
  overflow-x: auto;
  box-shadow: 0 0 0 1px var(--color-blue-100);
  border-radius: 20px;
  width: 100%;

  &__main-box {
    transition: height 0.7s;
    min-width: 510px;

    &:not(:first-child) {
      border-top: 1px solid var(--color-blue-100);
    }
    
    &--addition {
      height: 0;
      overflow: hidden;

      &:not(:first-child) {
        border-top: none;
      }
    }
  }

  &__main {
    width: 100%;
    min-width: 510px;
    border-collapse: collapse;
    border-style: hidden;
    text-align: center;
    
    th,
    td {
      padding: 20px;
      border: 1px solid var(--color-blue-100);
      max-width: 240px;
      min-width: 240px;

      &:first-child {
        text-align: left;
        width: 100%;
        max-width: none;
      }
    }
  }

  &__header {
    padding: 22px;
    background-color: var(--color-gray-100);
  }

  &--active &__main-box--addition {
    height: 604px;

    &:not(:first-child) {
      border-top: 1px solid var(--color-blue-100);
    }
  }

  @media (max-width: 1180px) {
    &__main {
      th,
      td {
        max-width: 180px;
        min-width: 180px;
      }
    }
  }

  @media (max-width: 991px) {
    &__main {
      border-radius: 16px;

      th,
      td {
        padding: 16px;
        max-width: 100px;
        min-width: 100px;
      }
    }
  }

  @media (max-width: 767px) {
    &__main {
      border-radius: 12px;

      th,
      td {
        padding: 10px;
      }
    }

    &__th-text,
    &__header-text,
    &__text {
      font-size: 14px;
    }
  }
}
