.faq-item {
  border-radius: 20px;
  background-color: var(--color-gray-100);

  &__btn {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: color 0.4s;

    &--px-0 {
      padding-left: 0;
      padding-right: 0;
    }

    &--py-sm {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    &--pt-0 {
      padding-top: 0;
    }

    &.accordion__btn--active {
      color: var(--color-gray-400);
    }
  }

  &__btn-icon {
    transform: rotate(90deg);
    margin-left: 20px;
    flex: 0 0 auto;
    transition: transform 0.4s;

    .circle__img {
      transition: opacity 0.4s;
    }
  }

  &__btn.accordion__btn--active &__btn-icon {
    transform: rotate(-90deg);

    .circle__img {
      opacity: 0.4;
    }
  }

  &__main {
    padding: 0 24px 24px;

    &--px-0 {
      padding-left: 0;
      padding-right: 0;
    }

    &--pb-sm {
      padding-bottom: 16px;
    }
  }

  &__body {
    border-top: 1px solid var(--color-blue-100);
    padding-top: 20px;
  }

  @media (max-width: 767px) {
    border-radius: 16px;
  }
}