.house-result {
  display: flex;
  align-items: center;

  &__title {
    margin-bottom: 44px;

    &--sm {
      max-width: 520px;
    }
  }

  &__info {
    flex: 1 1 auto;
  }

  &__img-box {
    margin-left: 20px;
    flex: 0 0 calc(50% - 10px);
    border-radius: 20px;
    overflow: hidden;
  }

  @media (max-width: 991px) {
    flex-direction: column;

    &__title {
      &--sm {
        margin-bottom: 24px;
        max-width: 560px;
      }
    }

    &__img-box {
      display: none;
    }
  }

  @media (max-width: 767px) {
    &__title {
      margin-bottom: 20px;
      font-size: 24px;
      
      &--sm {
        max-width: 320px;
      }
    }

    &__img-box {
      border-radius: 16px;
    }
  }
}