.main {
  flex: 1 1 auto;
  overflow: hidden;

  &__house-cost {
    position: relative;
    z-index: 3;
    margin-top: -40px;
  }

  &__catalog {
    position: relative;
    z-index: 2;
    margin-top: 60px;
  }

  &__features {
    margin-top: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &__stages {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__overlay {
    position: relative;
    z-index: 1;
    margin-top: -60px;

    &--mt-lg {
      margin-top: -204px;
    }

    &--mt-xl {
      margin-top: -590px;
    }

    &--mt-xl-md {
      margin-top: -530px;
    }

    &--reviews {
      margin-top: -400px;
    }

    &--radius {
      border-radius: 20px;
    }
  }

  &__project-cost {
    margin-top: 24px;
  }

  &__equipment {
    margin-top: 56px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &__callback {
    padding-top: 60px;
  }

  &__first-section {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    &--mt-lg {
      margin-top: 60px;
    }
  }

  &__section {
    border-radius: 20px;

    &--mt-lg {
      margin-top: 60px;
    }
  }

  &__last-section {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  @media (max-width: 1180px) {
    &__overlay {
      &--mt-xl {
        margin-top: -490px;
      }

      &--mt-xl-md {
        margin-top: -430px;
      }
    }
  }

  @media (max-width: 991px) {
    &__features {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &__stages {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &__overlay {
      margin-top: -40px;

      &--mt-lg {
        margin-top: -140px;
      }

      &--mt-xl {
        margin-top: -490px;
      }

      &--mt-xl-md {
        margin-top: -430px;
      }

      &--reviews {
        margin-top: -370px;
      }
    }

    &__first-section {
      &--mt-lg {
        margin-top: 50px;
      }
    }

    &__section {
      &--mt-lg {
        margin-top: 60px;
      }
    }

    &__callback {
      padding-top: 50px;
    }

    &__equipment {
      margin-top: 46px;
    }
  }

  @media (max-width: 767px) {
    &__catalog {
      margin-top: 45px;
    }

    &__features {
      margin-top: 45px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }

    &__stages {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    &__first-section {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;

      &--mt-lg {
        margin-top: 35px;
      }
    }

    &__section {
      border-radius: 16px;

      &--mt-lg {
        margin-top: 35px;
      }
    }

    &__overlay {
      margin-top: -30px;

      &--mt-lg {
        margin-top: -90px;
      }

      &--mt-xl {
        margin-top: -390px;
      }

      &--mt-xl-md {
        margin-top: -330px;
      }

      &--reviews {
        margin-top: -400px;
      }

      &--radius {
        border-radius: 16px;
      }
    }

    &__callback {
      padding-top: 35px;
    }

    &__equipment {
      margin-top: 35px;
      padding-bottom: 20px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
  }
}
