.requisites-table {
  border: 1px solid var(--color-blue-100);
  border-radius: 20px;
  overflow: hidden;

  &__item {
    display: flex;

    &:not(:first-child) {
      border-top: 1px solid var(--color-blue-100);
    }
  }

  &__label {
    padding: 20px;
    display: flex;
    align-items: center;
    flex: 0 0 320px;
    background-color: var(--color-gray-100);
    border-right: 1px solid var(--color-blue-100);
  }

  &__value {
    padding: 20px;
    display: flex;
    align-items: center;
  }

  @media (max-width: 1180px) {
    &__label {
      padding: 16px;
      flex-basis: 200px;
    }

    &__value {
      padding: 16px;
    }
  }

  @media (max-width: 767px) {
    border-radius: 16px;

    &__item {
      flex-direction: column;
    }

    &__label {
      padding-top: 12px;
      padding-bottom: 12px;
      flex: none;
      border-right: none;
      border-bottom: 1px solid var(--color-blue-100);
      font-size: 14px;
    }

    &__label-text {
      font-size: 14px;
    }

    &__value {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    &__value-text {
      font-size: 14px;
    }
  }
}
