.submenu {
  &__content {
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  &__item {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}