.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-pagination-bullet {
  padding: 5px;
  line-height: 0;
  cursor: pointer;

  &:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
  }

  &-active {
    &:before {
      background-color: var(--color-primary);
    }
  }
}