:root {
  --container-width:            1320px;
  --container-offset:           20px;
  --container-mobile-offset:    16px;

  --color-primary:              #276db3;
  --color-primary--rgb:         39, 109, 179;
  --color-blue-100:             #e0e5ea;
  --color-blue-200:             #a5bad2;
  --color-gray-50:              #f8f8fb;
  --color-gray-100:             #f8f8f8;
  --color-gray-400:             #aaa9ae;
  --color-gray-400--rgb:        170, 169, 174;
  --color-black:                #27272c;
  --color-warning:              #e29911;
  --color-danger:               #be123d;
  --color-success:              #086627;
}
